@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// font-family: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --big-xll: 36px;
    --big: 24px;
    --medium: 14px;
    --small: 10px;
    --white: #F2F2F2;
    --grey: #989898;
    --grey-dark: #3C3939;
    --blue: #58A7C0;
    --blue-dark: #207A97;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #F2F2F2;
}

.font-title {
    font-size: var(--big);
}

.parent-size {
    width: 100%;
    min-height: 100vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
// .box-shadow {
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

.wrapper {
  width: 100vw;
  background: #3C3939;
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(/img/photo-me-big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
      &__name {
        font-size: var(--big-xll);
        writing-mode: vertical-rl;
      }
      &__work {
        align-self: center;
        margin: 0 0 48px 0;
      }
  }

  .navigation {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    height: 100vh;
    width: 50%;
    background-color: rgba(0,0,0,.95);
    transition: .5s;
    z-index: 888;
      &__list{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }    
  }
  .navigation.active{
    transform: translate(0);
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 3px 3px #51a7e8;
      }
    }
  }
  
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    transition: transform .22s ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
      content: '';
    }
    &:before {
      top: -12px;
      transition: top .1s .25s ease-in, transform .22s ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom .1s .25s ease-in, 
        transform .22s ease-in-out;
    }
  }
  
  .hamburger--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform .22s .12s ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform .22s .12s ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }

}

.about {
  background-color: var(--white);
  &__heading {
    &--top {
      color: var(--grey-dark);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
    &--bottom {
      padding: 0 16px;
      background-color: var(--blue-dark);
    }
  }
  &__text {
    width: 80%;
    text-align: center;
    padding: 8px 16px;
    font-size: var(--medium);
    background-color: #fff;
    color: var(--grey-dark);
  }
}

.technologies {
  background-color: var(--grey-dark);
  &__heading {
    &--top {
      padding: 0 16px;
      background-color: var(--blue-dark);
    }
    &--bottom {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: var(--small);
    color: var(--grey-dark);
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 8px;
      width: 25%;
      height: 15vh;
      border-radius: 5px;
      background-color: var(--blue-dark);
      &-img {
        width: 50%;
        height: auto;
      }
    }
  }
}

.projects {
  background-color: var(--white);
  &__heading {
    &--top {
      color: var(--grey-dark);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
    &--bottom {
      padding: 0 16px;
      background-color: var(--blue-dark);
    }
  }
  &__article {
    position: relative;
    display: flex;
    margin: 32px 0;
    width: 90%;
    height: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &--heading {
      position: absolute;
      top: -14px;
      left: -8px;
      padding: 4px 8px;
      font-size: var(--medium);
      background-color: var(--blue-dark);
    }
    &--content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 16px;
      p {
        text-align: center;
        color: var(--grey-dark);
      }
      a {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--blue-dark);
  
        i {
          margin: 8px 8px;
          font-size: 24px;
        };
      }
      &-img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: 70%;
        padding: 16px;
        overflow: hidden;
        img {
          border-radius: 5px;
          width: 100%;
          height: auto;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}


