@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
// font-family: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
    --big-xll: 36px;
    --big: 24px;
    --medium: 14px;
    --small: 10px;
    --white: #F2F2F2;
    --grey: #989898;
    --grey-dark: #3C3939;
    --blue: #58A7C0;
    --blue-dark: #207A97;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #F2F2F2;
}

.font-title {
    font-size: var(--big);
    font-weight: normal;
}
h2 {
  font-weight: normal;
}

.parent-size {
    width: 100%;
    min-height: 100vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100vw;
  background: #3C3939;
  .navigation {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    height: 100vh;
    width: 60%;
    background-color: rgba(0,0,0,.95);
    transition: .5s;
    z-index: 888;
      &__list{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &--element {
          &-link {
            padding: 0 8px;
            font-size: var(--medium);
          }
        }
      }    
  }
  .navigation.active{
    transform: translate(0);
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 3px 3px #51a7e8;
      }
    }
  }
  
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    transition: transform .22s ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
      content: '';
    }
    &:before {
      top: -12px;
      transition: top .1s .25s ease-in, transform .22s ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom .1s .25s ease-in, 
        transform .22s ease-in-out;
    }
  }
  
  .hamburger--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform .22s .12s ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform .22s .12s ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }

}
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
      &__picture {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100vh;
        border-radius: 5px;
        transform: translate(-46%, -50%);
      }
      &__name {
        margin: 16px;
        font-size: var(--big-xll);
        writing-mode: vertical-rl;
        z-index: 1;
      }
      &__work {
        align-self: center;
        margin: 0 0 48px 0;
        z-index: 1;
      }
  }
  
section {
  .section__heading {
    margin: 32px 0;
  }
  &:nth-child(1) {
    .section__heading {
      &--top {
        color: var(--grey-dark);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translate(-30%, 0);
      }
      &--bottom {
        padding: 0 16px;
        background-color: var(--blue-dark);
        transform: translate(30%, 0);
      }
    }
  }
  &:nth-child(2) {
    .section__heading {
      &--top {
        padding: 0 16px;
        color: var(--white);
        background-color: var(--blue-dark);
        transform: translate(-50%, 0);
      }
      &--bottom {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translate(10%, 0);
      }
    }  
  }
  &:nth-child(3) {
    .section__heading {
      &--top {
        padding: 0 16px;
        color: var(--white);
        background-color: var(--blue-dark);
        transform: translate(-50%, 0);
      }
      &--bottom {
        color: var(--grey-dark);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translate(10%, 0);
      }
    }  
  }
  &:nth-child(4) {
    .section__heading {
      &--top {
        color: var(--white);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);        
        transform: translate(-30%, 0);
      }
      &--bottom {
        padding: 0 16px;
        color: var(--white);
        background-color: var(--blue-dark);        
        transform: translate(30%, 0);
      }
    }  
  }
}

.about {
  background-color: var(--white);
  overflow: hidden;
  &__text {
    width: 80%;
    text-align: left;
    padding: 8px 16px;
    font-size: var(--medium);
    background-color: #fff;
    color: var(--grey-dark);
    z-index: 1;
  }
  .elipse {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border: 2px solid var(--blue);
        border-radius: 50%;
        animation: 10s linear infinite up;
      }
      @keyframes up {
        0% {
          transform: translate(0, 1500%);
        }
        100% {
          transform: translate(0, 0);
        }
      }
}

.technologies {
  background-color: var(--grey-dark);
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 8px;
      width: 90px;
      height: 90px;
      border-radius: 5px;
      background-color: var(--blue-dark);
      p {
        font-size: var(--small);
        font-weight: bold;
        color: var(--grey-dark);
      }
      .technologies__img {
        width: 50px;
        height: auto;
      } 
      
    }
  }
}

.projects {
  background-color: var(--white);
  overflow: hidden;
  &__article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    width: 90%;
    height: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:nth-child(odd) {
      .projects__article--heading {
      align-self: flex-end;
      &-text {
        transform: translate(8px, -16px);
      }
      }
      .projects__article--content {
      flex-direction: row-reverse;
      }
    }
    &--heading {
      display: flex;
      &-text {
        transform: translate(-8px, -16px);
        text-align: left;
        padding: 4px 8px;
        font-size: var(--medium);
        background-color: var(--blue-dark);
      }
    }
    &--content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 16px 0;
      padding: 16px;
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        p {
          text-align: center;
          color: var(--grey-dark);
        }
        .icon_container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          a {
            display: block;
            width: 100%;
            text-align: center;
            color: var(--blue-dark);
          }
          i {
            margin: 8px 8px;
            font-size: 24px;
          }
        }
      }
      &-img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: 70%;
        padding: 16px;
        overflow: hidden;
        flex: 1;
        // img {
        //   border-radius: 5px;
        //   width: 100%;
        //   height: auto;
        //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // }
      }
    }
  }
}

.contact {
  justify-content: flex-start;
  &__list {
    &--li {
      display: flex;
      align-items: center;
      .icon {
        width: 34px;
        line-height: 34px;
        text-align: center;
        margin: 8px;
        font-size: var(--big);
      }
      h2 {
        margin: 8px;
        font-size: var(--medium);
      }
    }
    &--li:nth-of-type(1) {
      margin: 64px 0 0 0;
    }
  }
}

.footer {
  height: 40px;
  background-color: #151414;
  &__h2 {
    text-align: center;
    line-height: 40px;
    font-size: var(--small);
  }
}
