* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --big-xll: 36px;
  --big: 24px;
  --medium: 18px;
  --small: 10px;
  --white: #F2F2F2;
  --grey: #989898;
  --grey-dark: #3C3939;
  --blue: #79D1EE;
  font-family: Arial, Helvetica, sans-serif;
  color: #F2F2F2;
}

.font__title {
  font-size: var(--big);
}

.position__relative {
  position: relative;
  overflow: hidden;
}

.position__absolute {
  position: absolute;
  overflow: hidden;
}

.parent__size {
  width: 100%;
  min-height: 100vh;
}

.text {
  padding: 4px;
  margin: 8px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/img/photo-me-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
}

.header__name {
  font-size: var(--big-xll);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.header__work {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 48px 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 888;
}

.navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.hamburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 3px 3px #51a7e8;
          box-shadow: 0 0 3px 3px #51a7e8;
}

.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .22s ease-in-out;
  transition: -webkit-transform .22s ease-in-out;
  transition: transform .22s ease-in-out;
  transition: transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.hamburger__bars:before, .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  content: '';
}

.hamburger__bars:before {
  top: -12px;
  -webkit-transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out,  -webkit-transform .22s ease-in-out;
}

.hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform .22s .12s ease-in-out;
  transition: -webkit-transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out, -webkit-transform .22s .12s ease-in-out;
}

.hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out,  -webkit-transform .22s .12s ease-in-out;
}

.hamburger:focus, .hamburger__container:focus {
  outline: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--white);
}

.about .wrapp__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .wrapp__heading--text {
  position: absolute;
  margin: 24px 0 0 0;
  text-align: center;
  color: var(--grey-dark);
  z-index: 9;
}

.about .wrapp__heading--text-color {
  position: absolute;
  top: 16px;
  left: 52%;
  padding: 4px 16px;
  color: var(--white);
  background-color: var(--blue);
  z-index: -1;
}

.about__text {
  width: 80%;
  color: var(--grey);
  font-size: var(--medium);
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */