* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --big-xll: 36px;
    --big: 24px;
    --medium: 18px;
    --small: 10px;
    --white: #F2F2F2;
    --grey: #989898;
    --grey-dark: #3C3939;
    --blue: #79D1EE;
    // --blue-dark: ;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2F2;
}

.font__title {
    font-size: var(--big);
}
.position__relative {
    position: relative;
    overflow: hidden;
}
.position__absolute {
    position: absolute;
    overflow: hidden;
}
.parent__size {
    width: 100%;
    min-height: 100vh;
}

.text {
    padding: 4px;
    margin: 8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(/img/photo-me-big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    &__name {
        font-size: var(--big-xll);
        writing-mode: vertical-rl;
    }
    &__work {
        align-self: center;
        margin: 0 0 48px 0;
    }
}

.navigation {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    height: 100vh;
    width: 50%;
    background-color: rgba(0,0,0,.95);
    transition: .5s;
    z-index: 888;
    &__list{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }    
}
.navigation.active{
    transform: translate(0);
}
.hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 3px 3px #51a7e8;
      }
    }
  }
  
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    transition: transform .22s ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
      content: '';
    }
    &:before {
      top: -12px;
      transition: top .1s .25s ease-in, transform .22s ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom .1s .25s ease-in, 
        transform .22s ease-in-out;
    }
  }
  
  .hamburger--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform .22s .12s ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform .22s .12s ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    .wrapp__heading{
        display: flex;
        align-content: center;
        justify-content: center;
        &--text {
            position: absolute;
            margin: 24px 0 0 0;
            text-align: center;
            color: var(--grey-dark);
            z-index: 9;
            &-color {
                position: absolute;
                top: 16px;
                left: 52%;
                padding: 4px 16px;
                color: var(--white);
                background-color: var(--blue);
                z-index: -1;
            }
        }
      }
    &__text {
        width: 80%;
        color: var(--grey);
        font-size: var(--medium);
        text-align: center;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
