@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --big-xll: 36px;
  --big: 24px;
  --medium: 14px;
  --small: 10px;
  --white: #F2F2F2;
  --grey: #989898;
  --grey-dark: #3C3939;
  --blue: #58A7C0;
  --blue-dark: #207A97;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #F2F2F2;
}

.font-title {
  font-size: var(--big);
}

.parent-size {
  width: 100%;
  min-height: 100vh;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper {
  width: 100vw;
  background: #3C3939;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(/img/photo-me-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
}

.wrapper .header__name {
  font-size: var(--big-xll);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.wrapper .header__work {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 48px 0;
}

.wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 888;
}

.wrapper .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navigation.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.wrapper .hamburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.wrapper .hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 3px 3px #51a7e8;
          box-shadow: 0 0 3px 3px #51a7e8;
}

.wrapper .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.wrapper .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .22s ease-in-out;
  transition: -webkit-transform .22s ease-in-out;
  transition: transform .22s ease-in-out;
  transition: transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger__bars:before, .wrapper .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  content: '';
}

.wrapper .hamburger__bars:before {
  top: -12px;
  -webkit-transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out,  -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform .22s .12s ease-in-out;
  transition: -webkit-transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out, -webkit-transform .22s .12s ease-in-out;
}

.wrapper .hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.wrapper .hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out,  -webkit-transform .22s .12s ease-in-out;
}

.wrapper .hamburger:focus, .wrapper .hamburger__container:focus {
  outline: none;
}

.about {
  background-color: var(--white);
}

.about__heading--top {
  color: var(--grey-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.about__heading--bottom {
  padding: 0 16px;
  background-color: var(--blue-dark);
}

.about__text {
  width: 80%;
  text-align: center;
  padding: 8px 16px;
  font-size: var(--medium);
  background-color: #fff;
  color: var(--grey-dark);
}

.technologies {
  background-color: var(--grey-dark);
}

.technologies__heading--top {
  padding: 0 16px;
  background-color: var(--blue-dark);
}

.technologies__heading--bottom {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.technologies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--small);
  color: var(--grey-dark);
}

.technologies__container--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
  width: 25%;
  height: 15vh;
  border-radius: 5px;
  background-color: var(--blue-dark);
}

.technologies__container--item-img {
  width: 50%;
  height: auto;
}

.projects {
  background-color: var(--white);
}

.projects__heading--top {
  color: var(--grey-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.projects__heading--bottom {
  padding: 0 16px;
  background-color: var(--blue-dark);
}

.projects__article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0;
  width: 90%;
  height: 40%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__article--heading {
  position: absolute;
  top: -14px;
  left: -8px;
  padding: 4px 8px;
  font-size: var(--medium);
  background-color: var(--blue-dark);
}

.projects__article--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 16px;
}

.projects__article--content p {
  text-align: center;
  color: var(--grey-dark);
}

.projects__article--content a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--blue-dark);
}

.projects__article--content a i {
  margin: 8px 8px;
  font-size: 24px;
}

.projects__article--content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 70%;
  padding: 16px;
  overflow: hidden;
}

.projects__article--content-img img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */