@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --big-xll: 36px;
  --big: 24px;
  --medium: 14px;
  --small: 10px;
  --white: #F2F2F2;
  --grey: #989898;
  --grey-dark: #3C3939;
  --blue: #58A7C0;
  --blue-dark: #207A97;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #F2F2F2;
}

.font-title {
  font-size: var(--big);
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

.parent-size {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes letterSpacing {
  10% {
    letter-spacing: 4px;
  }
  90% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: 0px;
  }
}

@keyframes letterSpacing {
  10% {
    letter-spacing: 4px;
  }
  90% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: 0px;
  }
}

.wrapper {
  width: 100vw;
  background: #3C3939;
  overflow: hidden;
}

.wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
  height: 100vh;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 888;
}

.wrapper .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navigation__list--element-link {
  padding: 0 8px;
  font-size: var(--medium);
}

.wrapper .navigation.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.wrapper .hamburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.wrapper .hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 3px 3px #51a7e8;
          box-shadow: 0 0 3px 3px #51a7e8;
}

.wrapper .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.wrapper .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .22s ease-in-out;
  transition: -webkit-transform .22s ease-in-out;
  transition: transform .22s ease-in-out;
  transition: transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger__bars:before, .wrapper .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  content: '';
}

.wrapper .hamburger__bars:before {
  top: -12px;
  -webkit-transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, -webkit-transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out;
  transition: top .1s .25s ease-in, transform .22s ease-in-out, -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  -webkit-transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out;
  transition: bottom .1s .25s ease-in,  transform .22s ease-in-out,  -webkit-transform .22s ease-in-out;
}

.wrapper .hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform .22s .12s ease-in-out;
  transition: -webkit-transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out;
  transition: transform .22s .12s ease-in-out, -webkit-transform .22s .12s ease-in-out;
}

.wrapper .hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.wrapper .hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  -webkit-transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out;
  transition: bottom 100ms ease-out,  transform .22s .12s ease-in-out,  -webkit-transform .22s .12s ease-in-out;
}

.wrapper .hamburger:focus, .wrapper .hamburger__container:focus {
  outline: none;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.header__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100vh;
  border-radius: 5px;
  -webkit-transform: translate(-46%, -50%);
          transform: translate(-46%, -50%);
}

.header__name {
  margin: 16px;
  font-size: var(--big-xll);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 1;
  letter-spacing: 0px;
  cursor: default;
  -webkit-animation: letterSpacing 12s ease-in-out infinite;
          animation: letterSpacing 12s ease-in-out infinite;
}

.header__work {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 48px 0;
  z-index: 1;
  -webkit-animation: letterSpacing 12s ease-in-out infinite;
          animation: letterSpacing 12s ease-in-out infinite;
}

section .section__heading {
  margin: 32px 0;
}

section:nth-child(1) .section__heading--top {
  color: var(--grey-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
}

section:nth-child(1) .section__heading--bottom {
  padding: 0 16px;
  background-color: var(--blue-dark);
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
}

section:nth-child(2) .section__heading--top {
  padding: 0 16px;
  color: var(--white);
  background-color: var(--blue-dark);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

section:nth-child(2) .section__heading--bottom {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

section:nth-child(3) .section__heading--top {
  padding: 0 16px;
  color: var(--white);
  background-color: var(--blue-dark);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

section:nth-child(3) .section__heading--bottom {
  color: var(--grey-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

section:nth-child(4) .section__heading--top {
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0);
}

section:nth-child(4) .section__heading--bottom {
  padding: 0 16px;
  color: var(--white);
  background-color: var(--blue-dark);
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
}

.about {
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.about__text {
  width: 80%;
  text-align: left;
  padding: 8px 16px;
  font-size: var(--medium);
  background-color: #fff;
  color: var(--grey-dark);
  z-index: 1;
}

.about .background-detail {
  position: absolute;
  opacity: 0.5;
}

.about .square {
  top: 80%;
  left: 70%;
  width: 70px;
  height: 70px;
  border: 3px solid var(--blue);
  -webkit-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about .line {
  top: 85%;
  left: 0;
  width: 45%;
}

.about .elipse {
  top: -6%;
  left: 80%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--blue);
}

.technologies {
  background-color: var(--grey-dark);
}

.technologies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies__container--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: var(--blue-dark);
}

.technologies__container--item p {
  font-size: var(--small);
  font-weight: bold;
  color: var(--grey-dark);
}

.technologies__container--item .technologies__img {
  width: 50px;
  height: auto;
}

.projects {
  background-color: var(--white);
  overflow: hidden;
}

.projects__article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0;
  width: 90%;
  height: 40%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__article:nth-child(odd) .projects__article--heading {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects__article:nth-child(odd) .projects__article--heading-text {
  -webkit-transform: translate(8px, -16px);
          transform: translate(8px, -16px);
}

.projects__article:nth-child(odd) .projects__article--content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects__article--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__article--heading-text {
  -webkit-transform: translate(-8px, -16px);
          transform: translate(-8px, -16px);
  text-align: left;
  padding: 4px 8px;
  font-size: var(--medium);
  background-color: var(--blue-dark);
}

.projects__article--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 16px 0;
  padding: 16px;
}

.projects__article--content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projects__article--content-text p {
  text-align: center;
  color: var(--grey-dark);
}

.projects__article--content-text .icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
}

.projects__article--content-text .icon_container a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--blue-dark);
}

.projects__article--content-text .icon_container i {
  margin: 8px 8px;
  font-size: 24px;
}

.projects__article--content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 70%;
  padding: 16px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__list--li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__list--li .icon {
  width: 34px;
  line-height: 34px;
  text-align: center;
  margin: 8px;
  font-size: var(--big);
}

.contact__list--li h2 {
  margin: 8px;
  font-size: var(--medium);
}

.contact__list--li:nth-of-type(1) {
  margin: 64px 0 0 0;
}

.footer {
  height: 40px;
  background-color: #151414;
}

.footer__h2 {
  text-align: center;
  line-height: 40px;
  font-size: var(--small);
}
/*# sourceMappingURL=style.css.map */